[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
confluent-kafka = "*"
pymongo = "*"
aiokafka = "*"
motor = "*"
requests = "*"
urllib3 = "==1.26.0"
pycountry = "*"
black = "*"
isort = "*"
groq = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
